name: SDET practicum 1

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: checkout branch
        uses: actions/checkout@v3

      - name: install python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10.19

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        
      - name: Install Allure
        run: |
            wget https://github.com/allure-framework/allure2/releases/download/2.29.0/allure-2.29.0.tgz
            tar -zxvf allure-2.29.0.tgz
            sudo mv allure-2.29.0 /opt/allure
            sudo ln -s /opt/allure/bin/allure /usr/bin/allure
            allure --version

      - name: run tests with allure
        run: |
          pytest -n 3 --alluredir=allure-results

      - name: generate allure report
        run: |
          allure generate allure-results --clean -o allure-report
