name: SDET practicum 1

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: checkout branch
        uses: actions/checkout@v3

      - name: install python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10.19

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: run tests with allure
        run: |
          pytest -n 3 --alluredir=allure-results

      - name: generate allure report
        run: |
          allure generate allure-results --clean -o allure-report
          allure show -p 8080 allure-report
